[submodule "drop-ins/multi-head-01"]
	path = drop-ins/multi-head-01
	url = git@github.com:iDoMeteor/unicorn-viz-dropin-multi-head-01.git
[submodule "drop-ins/unicorn-tears-01"]
	path = drop-ins/unicorn-tears-01
	url = git@github.com:iDoMeteor/unicorn-viz-dropin-unicorn-tears-01.git
[submodule "drop-ins/cyber-war-01"]
	path = drop-ins/cyber-war-01
	url = git@github.com:iDoMeteor/unicorn-viz-dropin-cyber-war-01.git
[submodule "drop-ins/hacker-terminal-01"]
	path = drop-ins/hacker-terminal-01
	url = git@github.com:iDoMeteor/unicorn-viz-dropin-hacker-terminal-01.git
[submodule "drop-ins/alien-invasion-01"]
	path = drop-ins/alien-invasion-01
	url = git@github.com:iDoMeteor/unicorn-viz-dropin-alien-invasion-01.git
[submodule "drop-ins/textures-01"]
	path = drop-ins/textures-01
	url = git@github.com:iDoMeteor/unicorn-viz-dropin-textures-01.git
[submodule "drop-ins/webcam-01"]
	path = drop-ins/webcam-01
	url = git@github.com:iDoMeteor/unicorn-viz-dropin-webcam-01.git
[submodule "drop-ins/disco-ball-01"]
	path = drop-ins/disco-ball-01
	url = git@github.com:iDoMeteor/unicorn-viz-dropin-disco-ball-01.git
[submodule "drop-ins/tron-grid-01"]
	path = drop-ins/tron-grid-01
	url = git@github.com:iDoMeteor/unicorn-viz-dropin-tron-grid-01.git
[submodule "drop-ins/images-01"]
	path = drop-ins/images-01
	url = git@github.com:iDoMeteor/unicorn-viz-dropin-images-01.git
[submodule "drop-ins/videos-01"]
	path = drop-ins/videos-01
	url = git@github.com:iDoMeteor/unicorn-viz-dropin-videos-01.git
